* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #fbfbfb;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: rgb(224, 224, 224);
  color: #333;
}

nav {
  display: flex;
  padding-top: 7%;
  padding-left: 7%;
  padding-right: 7%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #333;
  font-weight: 600;
  font-size: 20px;
}

.menu img {
  width: 2rem;
}

.title {
  display: flex;
  flex-direction: column;
  background-image: url(imege/background.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100%;
  padding: 12%;
  padding-top: 20%;
  justify-content: center;
}

#title h1 {
  margin: 200rem;
  letter-spacing: 0.3rem;
}

span {
  color: #36b37e;
}

#head-1 {
  color: #172b4d;
  width: 95%;
  font-size: 2.3rem;
}

.title p {
  width: 75%;
  margin: auto;
  font-size: 1.3rem;
  padding-top: 5%;
  padding-bottom: 0%;
  letter-spacing: 2.3px;
}

.icon {
  display: flex;
  justify-content: center;
  list-style: none;
}

.icon ul {
  display: flex;
  padding: 2rem;
}

.icon ul li {
  display: block;
  margin: 1rem;
}

.icon img {
  width: 1.2rem;
}
